<div class="mt-5 log-in">
<h1>Edit Listing</h1>

<%= simple_form_for @listing do |f| %>
     <div class="form-group">
    <%= f.label :condition %><br>
    <%= f.radio_button :condition, 'Excellent' %>
    <%= f.label :condition, 'Excellent' %>

    <%= f.radio_button :condition, 'Good' %>
    <%= f.label :condition, 'Good' %>

    <%= f.radio_button :condition, 'Fair' %>
    <%= f.label :condition, 'Fair' %>

    <%= f.radio_button :condition, 'Poor' %>
    <%= f.label :condition, 'Poor' %>
  </div>

  <div class="form-group">
    <%= f.label :sleeve_condition %><br>
    <%= f.radio_button :sleeve_condition, 'Excellent' %>
    <%= f.label :sleeve_condition, 'Excellent' %>

    <%= f.radio_button :sleeve_condition, 'Good' %>
    <%= f.label :sleeve_condition, 'Good' %>

    <%= f.radio_button :sleeve_condition, 'Fair' %>
    <%= f.label :sleeve_condition, 'Fair' %>

    <%= f.radio_button :sleeve_condition, 'Poor' %>
    <%= f.label :sleeve_condition, 'Poor' %>
  </div>

    <%=f.input "price_cents", label: "Price $USD", placeholder: "$9.89"%>
    <%=f.input "shipping_fee"%>
    <%=f.input "comments"%>
    <%=f.input "location", label: "Shipping from location"%>
    <%= f.input :image, as: :file, label: "Add a Photo"%>

  <%= f.submit "Update Listing", class: "btn btn-primary" %>
<% end %>

</div>
