<div class="sort-bar">
  <div>
    <h4><strong>All Available Releases (100)</strong></h4>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Sort By:</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
</div>

<div class="filter-and-listings">
  <%# _filter partial is rendered %>
  <%= render "shared/filter" %>

  <div class="listings">
    <% for release in @releases %>
    <div class="listing-card">
      <div class="album-thumbnail">
         <%= link_to url_for(release) do %>
          <%= image_tag release.url %>
        <% end %>
      </div>
      <div class="album-content">
        <div class="top">
          <div class="album-copy">
            <h4><%= release.title %></h4>
            <p><%= release.artist%></p>
          </div>
          <i class="fa-regular fa-heart fa-2x" style="color: #000000;"></i>
        </div>
        <div class="bottom">
          <div class="availability">
            <i class="fa-regular fa-circle-check" style="color: #000000;"></i>
            <%# if listing.availability %>
            <p>AVAILABLE</p>
            <%# else %>
            <%# <p>NOT AVAILABLE</p> %>
            <%# end %>
          </div>
          <div class="market-value">
            <p>Market Value</p>
            <p>$1.00 to $100.00</p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
