<div class="sort-bar">
  <div>
    <h4><strong>All Available Releases (100)</strong></h4>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Sort By:</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
</div>

<div class="filter-and-listings">
  <%# _filter partial is rendered %>
  <%= render "shared/filter" %>

  <div class="listings">
    <% for release in @releases %>
    <div class="listing-cards">
      <div class="listing-album-thumbnail">
         <%= link_to url_for(release) do %>
          <%= image_tag release.url %>
        <% end %>
      </div>
      <div class="listing-album-content">
        <div class="listing-top-content">
          <div class="listing-album-copy">
            <h4><%= release.title %></h4>
            <p><%= release.artist%></p>
          </div>
          <div class="heart-default listing-heart">
            <% if Favorite.find_by(user: current_user, release: release) %>
              <%= link_to  favorite_path(release.id), data: {turbo_method: :delete } do %>
                <button><i class="listing-heart fa-solid fa-heart fa-2x listing-heart-red"></i></button>
              <% end %>
            <% else %>
              <%= link_to release_favorites_path(release.id), data: {turbo_method: :post } do %>
                <button><i class="fa-regular fa-heart fa-2x"></i></button>
              <% end %>
            <% end %>
          </div>

          <%# /////////JS Code///////// %>
          <%# <div class="heart-default" data-controller="favorites-icon">
            <div data-favorites-icon-target="color">
              <% if Favorite.find_by(user: current_user, release: release) %>
                <%# <%= simple_form_for [release, @favorite] do |f| %>
                  <%# <button type="submit" class=""> %>
                    <%# <i data-favorites-icon-target="icon" data-action="click->favorites-icon#changeColor" class="listing-heart fa-solid fa-heart fa-2x listing-heart-red"></i> %>
                  <%# </button> %>
                <%# <% end %>
              <%# <% else %>
                <%# <%= link_to release_favorite_path(release), method: :delete, data: { confirm: 'Are you sure you want to delete this?', turbo_method: :delete } do %>
                  <%# <i data-favorites-icon-target="icon" data-action="click->favorites-icon#changeToDefaultColor" class="listing-heart fa-regular fa-heart fa-2x"></i> %>
                <%# <% end %>
              <%# <% end %>
            <%# </div> %>
          <%# </div> %>
          <%# /////////JS Code///////// %>

        </div>
        <div class="listing-bottom-content">
          <div class="availability">
            <% if release.listings.size == 0 %>
              <div class="availability-false">
                <i class="fa-regular fa-circle-xmark" style="color: #000000;"></i>
                <p>UNAVAILABLE</p>
              </div>
            <% else %>
              <div class="availability-true">
                <i class="fa-regular fa-circle-check" style="color: #000000;"></i>
                <p>AVAILABLE</p>
              </div>
            <% end %>
          </div>
          <div class="listing-market-value">
            <p>Market Value</p>
            <p>$1.00 to $100.00</p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
