<% content_for :meta_title, "#{@listings.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @listings.name %>

<div class="sort-bar">
  <div>
    <h4><strong>All Available Releases (<%= @releases.count %>)</strong></h4>
  </div>
</div>

<div class="filter-and-listings">
  <%# _filter partial is rendered %>
  <%= render "shared/filter" %>

  <div class="listings">
    <% for release in @releases %>
    <div class="listing-cards">
      <div class="listing-album-thumbnail">
         <%= link_to url_for(release) do %>
          <%= image_tag release.url %>
        <% end %>
      </div>
      <div class="listing-album-content">
        <div class="listing-top-content">
          <div class="listing-album-copy">
            <h4><%= release.title %></h4>
            <p><%= release.artist%></p>
          </div>

          <div class="heart-default listing-heart">
            <% favorite = Favorite.find_by(user: current_user, release: release) %>
            <% if favorite %>
              <%= link_to  favorite_path(favorite), data: {turbo_method: :delete } do %>
                <button><i class="listing-heart fa-solid fa-heart fa-2x listing-heart-red"></i></button>
              <% end %>
            <% else %>
              <%= link_to release_favorites_path(release.id), data: {turbo_method: :post } do %>
                <button><i class="fa-regular fa-heart fa-2x"></i></button>
              <% end %>
            <% end %>
          </div>

        </div>
        <div class="listing-bottom-content">
          <div class="availability">
            <% if release.listings.available.size == 0 %>
              <div class="availability-false">
                <i class="fa-regular fa-circle-xmark" style="color: #000000;"></i>
                <p>UNAVAILABLE</p>
              </div>
            <% else %>
              <div class="availability-true">
                <i class="fa-regular fa-circle-check" style="color: #000000;"></i>
                <p>AVAILABLE</p>
              </div>
            <% end %>
          </div>
          <div class="listing-market-value">
            <p>Average Market Value</p>
           <p><%= release.average_listing %></p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
