<div class="sort-bar">
  <div>
    <h4><strong>All Available Releases (100)</strong></h4>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Sort By:</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
</div>

<div class="filter-and-listings">
  <%# _filter partial is rendered %>
  <%= render "shared/filter" %>

  <div class="listings">
    <% for release in @releases %>
    <div class="listing-cards">
      <div class="listing-album-thumbnail">
         <%= link_to url_for(release) do %>
          <%= image_tag release.url %>
        <% end %>
      </div>
      <div class="listing-album-content">
        <div class="listing-top-content">
          <div class="listing-album-copy">
            <h4><%= release.title %></h4>
            <p><%= release.artist%></p>
          </div>
          <div class="heart-default" data-controller="favorites-icon">
            <div data-favorites-icon-target="color" data-action="click->favorites-icon#changeColor">
              <i data-favorites-icon-target="icon" class="listing-heart fa-regular fa-heart fa-2x"></i>
            </div>
          </div>
        </div>
        <div class="listing-bottom-content">
          <div class="availability">
            <% if release.listings.size == 0 %>
              <div class="availability-false">
                <i class="fa-regular fa-circle-xmark" style="color: #000000;"></i>
                <p>UNAVAILABLE</p>
              </div>
            <% else %>
              <div class="availability-true">
                <i class="fa-regular fa-circle-check" style="color: #000000;"></i>
                <p>AVAILABLE</p>
              </div>
            <% end %>
          </div>
          <div class="listing-market-value">
            <p>Market Value</p>
            <p>$1.00 to $100.00</p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
