<div class="navbar navbar-expand-sm navbar-light navbar-lewagon justify-content-between">
  <div class="container-fluid justify-content-between">
<div class= "navbar-brand d-flex align-items-center ps-4">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>
     <h3 class="m-0 font-weight-bold">WAXWORKS</h3>
      </div>

    <div class= "d-flex" style="margin-left:-45px;">
      <div class= "nav-item px-4">
        Discover
      </div>
      <div class= "nav-item px-4">
        Marketplace
      </div>
      <div class= "nav-item px-4">
      My Collection
      </div>
    </div>
      <div class = d-flex>
        <div class= "navbar-brand ">
          <%= link_to "#", class: "navbar-brand" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        </div>

        <div class= "navbar-brand">
          <%= link_to "#", class: "navbar-brand" do %>
          <i class="fa-regular fa-heart"></i>
          <% end %>
        </div>

        <div class= "navbar-brand">
          <%= link_to "#", class: "navbar-brand" do %>
          <i class="fa-solid fa-cart-shopping"></i>
          <% end %>
        </div>
      </div>
  </div>
</div>



<%# <%= link_to "Home", "#", class: "nav-link" %>
