<div class="orders-container">
  <div class="orders-title">
    <h2><strong>Review your bag.</strong></h2>
  </div>
  <div class="order-items-summary">
    <div class="cart-items">
      <% @orders.each do |order| %>
        <div class="order-card">
          <div class="order-image">
            <%= image_tag order.listing.release.url %>
          </div>
          <div class="order-details">
            <h4><strong><%= order.listing.release.title %></strong></h4>
            <h5><%= order.listing.release.artist %></h5>
            <div class="buttons mt-auto">
              <%= link_to order_path(order), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this?' } do %>
              <i class="fa-regular fa-trash-can fa-xl" style="color: #000000;"></i>
            <% end %>
            </div>
          </div>
          <div class="order-price">
            <h4><strong>$<%= format('%.2f', order.listing.price_cents) %></strong></h4>
          </div>
        </div>
        <% end %>
    </div>

      <div class="order-summary">
        <div class="summary-title"><h4 class=><strong>Order Summary</strong></h4></div>
          <div class="order-subtotal">
            Subtotal: <div>$<%= format('%.2f',@subtotal_order) %></div>
          </div>
          <div class="order-shipping">
            Shipping Fees: <div>$<%= format('%.2f',@subtotal_shipping)%></div>
          </div>
          <div class="order-total">
            Total: <div>$<%= format('%.2f', @total_price) %></div>
          </div>
          <button data-controller='stripe' data-stripe-stripe-publishable-key-value="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>" data-stripe-session-id-value="<%= current_user.lastest_stripe_session_id %>" data-action="click->stripe#checkout" id="pay" class="btn btn-primary btn-lg">Checkout</button>

      </div>

  </div>
</div>


<div class="modalWrapper d-none">
  <div class="waxworksmodal d-none">
    <h1>Thanks for your purchase!</h1>
  </div>
</div>

<script>
const modal = document.querySelector('.waxworksmodal')
const wrapper = document.querySelector('.modalWrapper')

  if (window,location.href.includes('completed')) {
    modal.classList.remove('d-none')
    wrapper.classList.remove('d-none')

  }

</script>
