<br>
<br>
<br>
<br>
<br>
<br>
<br>





<% @orders.each do |order| %>
<%= order.listing.release.title %>


<div class="container">
  <div class="row py-4">
    <div class="col">
      <h1>Checkout summary</h1>
      <p>Purchase of <strong><%= order.listing.release.title %></strong> for <strong><%= humanized_money_with_symbol order%></strong></p>
    </div>
  </div>
</div>

<% end %>

 <button id="pay" class="btn btn-primary">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= current_user.lastest_stripe_session_id %>'
          });
        });
      </script>
