<div class="big-cards">
    <div class="d-flex flex-column align-items-center intro-card">
      <h1 class= "font-weight-bold text-center">Everything for the Modern Vinyl Collector</h1>
        <p></p>
      <h4 class= "font-weight-bold text-center">Link your Favorite streaming platform, purchase your favorite records & discover  recommendations based on your listening history</h4>
        <p></p>
      <div class="d-flex flex-row align-items-center discogs-cards">
        <% if current_user %>
        <button type="button" class="btn btn btn-secondary btn-lg btn-dark mx-3"><%= link_to "Disconnect from Spotify", destroy_user_session_path, data:{turbo:"false"}, method: :delete %></button>
        <% else %>
        <button type="button" class="btn btn btn-secondary btn-lg btn-dark mx-3"><%= link_to "Connect with Spotify", new_user_session_path %></button>
        <% end %>
      </div>
  </div>
</div>

<div class= "white-cards">

</div>

<div class= "big-cards">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner ">
      <div class="carousel-item active ">
        <div class= "carousel1">
        </div>
        <div class="carousel-caption d-none d-md-block">
          <button type="button" class="btn btn btn-secondary btn-lg btn-dark">
            <%= link_to listings_path do %>
             Marketplace
            <% end %>
          </button>
        </div>
      </div>
      <div class="carousel-item">
        <div class= "carousel2">
        </div>
        <div class="carousel-caption d-none d-md-block">
          <button type="button" class="btn btn btn-secondary btn-lg btn-dark">
            <%= link_to releases_path do %>
              Reccomendations
            <% end %>
          </button>
        </div>
      </div>
      <div class="carousel-item">
        <div class= "carousel3">
        </div>
        <div class="carousel-caption d-none d-md-block">
          <button type="button" class="btn btn btn-secondary btn-lg btn-dark">
            <%= link_to ownerships_path do %>
              My Collection
            <% end %>
          </button>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<div class= "white-cards">
  <div class="d-flex flex-column align-items-center">
  </div>
</div>


<div class="info-container">
  <div class="info-card">
    <h1 class= "font-weight-bold text-center">Vinyl's One Source of Truth</h1>
    <h4 class= "font-weight-bold text-center">Whether you are just starting your collection or you are a life long collector, WaxWorks recommendations can fine an essential vinyl record for any collection</h4>
  </div>
  <div class="photo-card">
    <div class= "small-image" >
    <%= image_tag 'record5.jpg' %>
    </div>
  </div>
</div>

<div class= "white-cards">
  <div class="d-flex flex-column align-items-center">
  </div>
</div>

<div class="info-container">
 <div class="photo-card">
    <div class= "small-image" >
    <%= image_tag 'record6.jpg' %>
    </div>
  </div>
  <div class="info-card info-card-2">
    <h1 class= "font-weight-bold text-center">Buying Vinyl has never been easier</h1>
    <h4 class= "font-weight-bold text-center">Knowing what record you want that fits your taste, is curated and built to make sure that your never have choice paralysis ever again!</h4>
  </div>
</div>

<div class= "white-cards">
  <div class="d-flex flex-column align-items-center">
  </div>
</div>

<%# <div class="info-container">
  <div class="info-card">

  </div>
  <div class="photo-card">
      <p>Enhanced Messaging </p>
      <p>Listing Photos </p>
      <p>Wantlist Alerts</p>
    </div>
  </div>
</div> %>
