
<div class="mylistings">
<h3 class="ps-5">My Listings</h3>
<% if @user_listings.any? %>
  <% @user_listings.each do |listing| %>

<div class="avilable-listings">
  <div class="listing-card">
    <div class="listing-image">
    <% if listing.photo.attached? %>
        <%= cl_image_tag listing.photo.key %>
      <% else %>
        <%= image_tag listing.release.url %>
      <% end %>
    </div>
  <div class="listing-album border-end">
      <div class="listing-price w-50 py-1 ps-2 text-centered">
        <h2 class="m-0"><strong>$<%= format('%.2f', listing.price_cents) %></strong></h2>
      </div>
      <p class="ps-2 py-2 m-0">Shipping: $<%= format('%.2f', listing.shipping_fee) %></p>
      <h5><strong><%= listing.release.title %></strong></h5>
      <h5><strong><%= listing.release.artist %></strong></h5>
      <p>Listing Date: <%= listing.created_at.strftime('%m/%d/%Y') %></p>
    </div>
    <div class="listing-details border-end">
      <h5><strong>Wax Score: </strong><%= listing_score(listing)%>/5.0</h5>
      <span><strong>Album Condition: </strong><%= listing.condition %></span>
      <p class="mb-2 me-3 border-bottom"><strong>Jacket/Sleeve Condition: </strong><%= listing.sleeve_condition %></p>
      <h5><strong>Seller's Note: </strong><%= listing.comments %></h5>
    </div>
    <div class="listing-button d-flex flex-column justify-content-evenly">
      <i class="fa-solid fa-pen-to-square fa-2xl my-3"></i>
      <%= link_to 'Edit Listing', edit_listing_path(listing) %>
    </div>
    <div class="listing-button d-flex flex-column justify-content-evenly">
      <i class="fa-solid fa-trash fa-2xl my-3"></i>
      <%= link_to "Delete", listing_path(listing), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this?' }%>
    </div>
  </div>
</div>
<% end %>
<% end %>

</div>
