<h1>Dashboard</h1>
<hr>
<h3>My Listings</h3>
<% if @user_listings.any? %>
  <% @user_listings.each do |listing| %>

<div class="avilable-listings">
  <div class="listing-card">
    <div class="listing-image">
      <%= image_tag listing.release.url %>
    </div>
    <div class="listing-album">
      <h3><strong><%= listing.release.title %></strong></h3>
      <h5><strong><%= listing.release.artist %></strong></h5>
    </div>
    <div class="listing-details">
      <h5><strong>Condition: </strong><%= listing.condition %></h5>
      <h5><strong>Sleeve Condition: </strong><%= listing.sleeve_condition %></h5>
    </div>
    <div class="listing-seller">

    </div>
    <div class="listing-button">
          <%= link_to "Delete", listing_path(listing), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this?' }%>

    </div>
  </div>
</div>
<% end %>
<% end %>
