<div class="ownership-banner d-flex">
<div class="ownership-explore">
  <p>Explore</p>
  <p>your</p>
  <p>collection.</p>
</div>
<header>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <% for ownership in @ownerships.last(5) %>
        <div class="carousel-item <%= 'active' if ownership == @ownerships.last %>">
          <%= link_to url_for(ownership.release) do %>
            <div class="carousel-container">
              <%= image_tag ownership.release.url %>
              <div class="colleciton-carousel-copy">
                <h2><%= ownership.release.title %></h2>
                <h3><%= ownership.release.artist %></h3>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header>
</div>

<main>
  <div class="ownership-title-bar">
    <div>
      <h4><strong>My Collection (<%= @ownerships.count %>)</strong></h4>
    </div>
  </div>

  <section>
    <div class="all-collections">
      <% for ownership in @ownerships %>
        <div class="ownership-release-card">
            <%= link_to url_for(ownership.release) do %>
              <div class="ownership-album-thumbnail" style="background-image: url('<%= ownership.release.url %>');">
            <% end %>
            <div class="ownership-album-copy">
              <p class="ownership-title"><%= ownership.release.title %></p>
              <p class="ownership-artist"><%= ownership.release.artist %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</main>
