<div class="ownership-banner d-flex">
  <h2 class="banner-copy">Explore</h2>
  <h2 class="banner-copy">your</h2>
  <h2 class="banner-copy">collection.</h2>
</div>

<main>
  <div class="ownership-title-bar">
    <div>
      <h4><strong>My Collection (<%= @ownerships.count %>)</strong></h4>
    </div>
  </div>

  <section>
    <div class="all-collections">
      <% for ownership in @ownerships %>
        <div class="ownership-release-card">
            <%= link_to url_for(ownership.release) do %>
              <div class="ownership-album-thumbnail" style="background-image: url('<%= ownership.release.url %>');">
            <% end %>
            <div class="ownership-album-copy">
              <p class="ownership-title"><%= ownership.release.title %></p>
              <p class="ownership-artist"><%= ownership.release.artist %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</main>
