<div class="first-bar title-bar">
  <div>
    <h4><strong>Top Tracks (5)</strong></h4>
  </div>
</div>
<div class="all-releases">
  <div class="releases">
    <% for artist in @user.top_artists %>
      <% @listings.each do |listing| %>
        <% if listing.release.artist == artist %>
        <div class="release-card">
          <div class="album-thumbnail">
            <%= link_to url_for(listing.release) do %>
              <%= image_tag listing.release.url %>
            <% end %>
          </div>
          <div class="album-content">
            <div class="top">
              <div class="album-copy">
                <h4><%= listing.release.title %></h4>
                <p><%= listing.release.artist %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
 </div>

 <div class="title-bar">
  <div>
    <h4><strong>Top Artists (5)</strong></h4>
  </div>
</div>
<div class="all-releases">
  <div class="releases">
    <% for album in @user.top_albums %>
      <% @listings.each do |listing| %>
        <% if listing.release.title.include?(album) %>
        <div class="release-card">
          <div class="album-thumbnail">
            <%= link_to url_for(listing.release) do %>
              <%= image_tag listing.release.url %>
            <% end %>
          </div>
          <div class="album-content">
            <div class="top">
              <div class="album-copy">
                <h4><%= listing.release.title %></h4>
                <p><%= listing.release.artist %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
 </div>

  <div class="title-bar">
  <div>
    <h4><strong>Top Albums (5)</strong></h4>
  </div>
</div>
<div class="all-releases">
  <div class="releases">
    <% for album in @user.saved_albums %>
      <% @listings.each do |listing| %>
        <% if listing.release.title.include?(album) %>
        <div class="release-card">
          <div class="album-thumbnail">
            <%= link_to url_for(listing.release) do %>
              <%= image_tag listing.release.url %>
            <% end %>
          </div>
          <div class="album-content">
            <div class="top">
              <div class="album-copy">
                <h4><%= listing.release.title %></h4>
                <p><%= listing.release.artist %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
 </div>