<%# ////////////////////////////
////// Release Details /////////
//////////////////////////// %>
<div class="release-master">
  <div class="release-image">
    <%= image_tag @release.url %>
  </div>
  <div class="release-information">
    <div class="release-information-content">
      <div class="release-primary-info border-bottom mb-2">
        <div class="release-primary-info-left">
          <h3><strong><%= @release.title %></strong></h3>
          <h5><strong><%= @release.artist %></strong></h5>
        </div>
        <div class="release-primary-info-right">
           <div class="release-add-listing-button">
            <button type="button" class="btn btn-primary py-2"><%= link_to "Add a Listing for this Release", new_release_listing_path(@release.id) %></button>
          </div>
          <div class="release-icons">
            <div class="collection-button px-2 mt-1">
              <% ownership = Ownership.find_by(user: current_user, release: @release) %>
                <% if ownership %>
                  <%= link_to  ownership_path(ownership), data: {turbo_method: :delete } do %>
                    <button><i class="fa-sharp fa-solid fa-circle-minus fa-2xl" style="color: #394867;"></i></button>
                  <% end %>
                <% else %>
                  <%= link_to release_ownerships_path(@release.id), data: {turbo_method: :post } do %>
                    <button><i class="fa-sharp fa-solid fa-circle-plus fa-2xl" style="color: #394867;"></i></i></button>
                <% end %>
              <% end %>
             </div>
            <div class="heart-default px-2">
              <% favorite = Favorite.find_by(user: current_user, release: @release) %>
                <% if favorite %>
                  <%= link_to  favorite_path(favorite), data: {turbo_method: :delete } do %>
                    <button><i class="fa-solid fa-heart fa-2x listing-heart-red"></i></button>
                  <% end %>
                <% else %>
                  <%= link_to release_favorites_path(@release.id), data: {turbo_method: :post } do %>
                    <button><i class="fa-regular fa-heart fa-2x"></i></button>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="release-secondary-info">
        <div class="release-secondary-info-row1 pb-2 mb-2 border-bottom">
          <div class="release-format"><strong>Format:</strong>  <%= @release.format %></div>
          <div class="release-date"><strong>Release Date:</strong> <%= @release.date %></div>
          <div class="release-listing-count"><strong>Listings:</strong> <%= @release.listings.available.count %></div>
          <div class="release-avg-price"><strong>Market Value:</strong> $10</div>
        </div>
        <div class="release-secondary-info-row2">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item release-description">
                <h2 class="accordion-header">
                  <button class="accordion-button py-2 px-2 bg-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Album Description
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <% if @release.description.include?('https') %>
                      <p>Please visit <%= link_to @release.description, @release.description, target: '_blank' %></p>
                    <% else %>
                      <%= @release.description[0..250] ... %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item release-tracks">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed py-2 px-2 bg-info border" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Track Listing
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body track-listing">
                  <ol>
                    <% @release.tracklist.each do |track| %>
                      <li><%= track %></li>
                    <% end %>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<%# ////////////////////////////
////// Listings Bar/////////
//////////////////////////// %>
<div class="listings-bar">
  <div>
    <h4><strong>Available Listings for <%= @release.title %> (<%= @release.listings.available.count %>)</strong></h4>
  </div>
</div>
<%# ////////////////////////////
////// Listings /////////
//////////////////////////// %>


<% for listing in @release.listings.available %>
<div class="avilable-listings">
  <div class="listing-card">
    <div class="listing-image">
      <% if listing.photo.attached? %>
        <%= cl_image_tag listing.photo.key %>
      <% else %>
        <%= image_tag @release.url %>
      <% end %>
    </div>

    <div class="listing-album border-end">
      <div class="listing-price w-50 py-1 ps-2 text-centered">
        <h2 class="m-0"><strong>$<%= format('%.2f', listing.price_cents) %></strong></h2>
      </div>
      <p class="ps-2 py-2 m-0">Shipping: $<%= format('%.2f', listing.shipping_fee) %></p>
      <p class="mb-1"><strong><%= listing.release.title %></strong></p>
      <p class="mb-1"><strong><%= listing.release.artist %></strong></p>
      <p class="mb-1">Listing Date: <%= listing.created_at.strftime('%m/%d/%Y') %></p>
    </div>
    <div class="listing-details border-end">
      <h5><strong>Wax Score: </strong><%= listing_score(listing)%>/5.0</h5>
      <span><strong>Album Condition: </strong><%= listing.condition %></span>
      <p class="mb-2 me-3 border-bottom"><strong>Jacket/Sleeve Condition: </strong><%= listing.sleeve_condition %></p>
      <h5><strong>Seller's Note: </h5>
      <p class="mb-1"></strong><%= listing.comments %></p>
    </div>
    <div class="listing-seller">
      <h5><strong>Seller: </strong><%= listing.user.full_name.split.first.capitalize %></h5>
      <h5><strong>Location: </strong><%= listing.location %></h5>
      <p><strong>Allows offers:</strong> <%= listing.allow_offers ? "Yes" : "No" %></p>
    </div>
    <div class="listing-button d-flex flex-column justify-content-evenly">
      <i class="fa-solid fa-cart-shopping fa-2xl  my-3" style="color: #000000;"></i>
      <%= simple_form_for [listing, @order] do |f| %>
        <%= f.button :submit, class: "btn", data: { toggle: "tooltip", placement: "top" }, title: "Add to Cart" do %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%# ////////////////////////////
////// Reviews/////////
//////////////////////////// %>

<div class="listings-bar">
  <div>
    <h4><strong>Reviews for <%= @release.title %> (<%= @release.release_reviews.count %>)</strong></h4>
  </div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add a review
  </button>
  <!-- Button trigger modal -->
</div>



  <div class="all-release-reviews">
     <% if @reviews.nil? %>
      <p>No reviews available</p>
    <% else %>
      <% for review in @reviews.last(3) %>
         <div class="review-card d-flex flex-column">
          <div class="review-content">
            <% review.rating.times do %>
                <i class="fas fa-star" style="color: #394867;"></i>
            <% end %>
            <p class="mt-1 mb-0"><%= review.user.full_name %></p>
            <p class="mb-3 pb-2 border-bottom"><%= review.created_at.strftime('%m/%d/%Y') %></p>
            <p class="border-bottom" style="height: 120px;"><%= review.content %></p>
          </div>
          <div class="delete-review mt-auto d-flex">
            <% if review.user == current_user %>
              <%= link_to release_review_path(review), data: {turbo_method: :delete }  do %>
                <button><i class="fa-sharp fa-solid fa-circle-minus fa-2xl" style="color: #394867;"></i></button>
              <% end %>
              <p>Delete</p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Review for <strong><%= @release.title %></strong></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@release, @review] do |f| %>
          <%= f.input "content", label: "Comments" %>
          <%= f.input "rating", as: :select, collection: (1..5), required: true, prompt: "What's your rating" %>
      </div>
      <div class="modal-footer">
          <%= f.submit class:"btn btn-secondary btn-lg btn-dark mx-3", input_html: { rows: 2 }%>
        <% end %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
