<div class="release-master">
  <div class="release-image">
    <%= image_tag 'release-image.jpg' %>
  </div>
  <div class="release-information">
    <div class="release-information-content">
      <h3><strong><%= @release.title %></strong></h3>
      <h5><strong><%= @release.artist %></strong></h5>
      <br>
      <table>
        <tr>
          <td>Format:</td>
          <td><%= @release.format %></td>
        </tr>
        <tr>
          <td>Year:</td>
          <td>1991</td>
        </tr>
      </table>
      <br>
      <h5><strong>Description</strong></h5>
        <div class="notes">
          European second and later repress version, which shows a correctly oriented inner sleeve.
          For the first press with upside-down printed and assembled inner sleeve, please see here. Use that sub, if this matches your version.

        <br>
          Recorded at Sound City, Van Nuys, CA
          Mixed at Scream, Studio City, CA
          Mastered at Masterdisk, New York City, NY

        <br>
          Catalog# on labels "GEF 24 425", on inner sleeve "GEF 24425-8"
          Secondary catalog# "DGC 24425", on labels "DGC-24 425"
        <br>
          Produced by special arrangement with Sub Pop Records.
          © & ℗ 1991 The David Geffen Company, an MCA Company.
        <br>
          Made and printed in Germany.
          Distributed by BMG Ariola.
        </div>
      <br>
      <h5><strong>Track Listing</strong></h5>
      <table class="track-listing">
        <% for track in @release.tracklist %>
        <tr>
            <td><%= track %></td>
        </tr>
        <% end %>
        <%# <tr>
          <td>Smells Like Teen Spirit</td>
          <td>Territorial Pissings</td>
        </tr>
        <tr>
          <td>In Bloom</td>
          <td>Drain You</td>
        </tr>
        <tr>
          <td>Come As You Are</td>
          <td>Lounge Act</td>
        </tr>
        <tr>
          <td>Breed</td>
          <td>Stay Away</td>
        </tr>
        <tr>
          <td>Lithium</td>
          <td>On A Plain</td>
        </tr>
        <tr>
          <td>Polly</td>
          <td>Something In The Way</td>
        </tr> %>
      </table>
    </div>
  </div>
</div>
