<div class="release-master">
  <div class="release-image">
    <%= image_tag @release.url %>
  </div>
  <div class="release-information">
    <div class="release-information-content">
      <h3><strong><%= @release.title %></strong></h3>
      <h5><strong><%= @release.artist %></strong></h5>
      <br>
      <table>
        <tr>
          <td>Format:</td>
          <td><%= @release.format %></td>
        </tr>
        <tr>
          <td>Released date:</td>
          <td><%= @release.date %></td>
        </tr>
      </table>
      <br>
      <h5><strong>Description</strong></h5>
      <div class="notes">
      <% if @release.description.include?('https') %>
        <p>Please visit <%= link_to @release.description, @release.description, target: '_blank' %></p>
      <% else %>
        <%= @release.description %>
      <% end %>
      </div>
      <br>
      <h5><strong>Track Listing</strong></h5>
      <table class="track-listing">
        <% for track in @release.tracklist %>
        <tr>
            <td><%= track %></td>
        </tr>
        <% end %>
        <%# <tr>
          <td>Smells Like Teen Spirit</td>
          <td>Territorial Pissings</td>
        </tr>
        <tr>
          <td>In Bloom</td>
          <td>Drain You</td>
        </tr>
        <tr>
          <td>Come As You Are</td>
          <td>Lounge Act</td>
        </tr>
        <tr>
          <td>Breed</td>
          <td>Stay Away</td>
        </tr>
        <tr>
          <td>Lithium</td>
          <td>On A Plain</td>
        </tr>
        <tr>
          <td>Polly</td>
          <td>Something In The Way</td>
        </tr> %>
      </table>
    </div>
  </div>
</div>
