<%# ////////////////////////////
////// Release Details /////////
//////////////////////////// %>

<div class="release-master">
  <div class="release-image">
    <%= image_tag @release.url %>
  </div>
  <div class="release-information">
    <div class="release-information-content">
      <div class="release-primary-info d-flex justify-content-between border-bottom mb-2">
        <div class="release-primary-info-left">
          <h3><strong><%= @release.title %></strong></h3>
          <h5><strong><%= @release.artist %></strong></h5>
        </div>
        <div class="div release-primary-info-right d-flex align-items-center">
          <div class="heart-default px-2">
            <% if Favorite.find_by(user: current_user, release: @release) %>
              <%= link_to  favorite_path(@release.id), data: {turbo_method: :delete } do %>
                <button><i class="fa-solid fa-heart fa-2x listing-heart-red"></i></button>
              <% end %>
            <% else %>
              <%= link_to release_favorites_path(@release.id), data: {turbo_method: :post } do %>
                <button><i class="fa-regular fa-heart fa-2x"></i></button>
              <% end %>
            <% end %>
          </div>
          <div class="release-add-listing-button">
            <button type="button" class="btn btn-primary py-2"><%= link_to "Add a Listing for this Release", new_release_listing_path(@release.id) %></button>
          </div>
        </div>
      </div>
      <div class="release-secondary-info">
        <div class="release-secondary-info-row1 pb-2 mb-2 border-bottom">
          <div class="release-format"><strong>Format:</strong>  <%= @release.format %></div>
          <div class="release-date"><strong>Release Date:</strong> <%= @release.date %></div>
          <div class="release-listing-count"><strong>Listings:</strong> <%= @release.listings.count %></div>
          <div class="release-avg-price"><strong>Market Value:</strong> $10</div>
        </div>
        <div class="release-secondary-info-row2">
          <div class="accordion" id="accordionExample">

            <div class="accordion-item release-description">
              <h2 class="accordion-header">
                <button class="accordion-button py-2 px-2 bg-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Album Description
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <% if @release.description.include?('https') %>
                    <p>Please visit <%= link_to @release.description, @release.description, target: '_blank' %></p>
                  <% else %>
                    <%= @release.description[0..250] ... %>
                  <% end %>
                </div>
                </div>
              </div>
            </div>

            <div class="accordion-item release-tracks">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed py-2 px-2 bg-info border" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Track Listing
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body track-listing">
                  <ol>
                    <% @release.tracklist.each do |track| %>
                        <li><%= track %></li>
                    <% end %>
                  </ol>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# ////////////////////////////
////// Listings Bar/////////
//////////////////////////// %>

<div class="listings-bar">
  <div>
    <h4><strong>Available Listings for Album Name (<%= @release.listings.count %>)</strong></h4>
  </div>
</div>

<%# ////////////////////////////
////// Listings /////////
//////////////////////////// %>

<% for listing in @release.listings %>
<div class="avilable-listings">
  <div class="listing-card">
    <div class="listing-image">
      <%= image_tag @release.url %>
    </div>
    <div class="listing-album">
      <h3><strong><%= listing.release.title %></strong></h3>
      <h5><strong><%= listing.release.artist %></strong></h5>
    </div>
    <div class="listing-details">
      <h5><strong>Condition: </strong><%= listing.condition %></h5>
      <h5><strong>Sleeve Condition: </strong><%= listing.sleeve_condition %></h5>
    </div>
    <div class="listing-seller">
      <h5><strong>Seller: </strong><%= listing.user.full_name.split.first.capitalize %></h5>
    </div>
    <div class="listing-button">
      <i class="fa-solid fa-cart-shopping fa-2xl p-3 mt-5" style="color: #000000;"></i>
      <h5 class="mt-3"><strong><%= link_to listing.price_cents, new_listing_order_path(listing) %></strong></h5>
    </div>
  </div>
</div>
<% end %>
